body {
    margin: 0;
    padding: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
}
h3 {
    font-size: 22px;
}
#login-area h1, #transection-area h1 {
    font-size: 35px;
    text-align: center;
}
.info-area input {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 12px;
    color: gray;
    font-size: 15px;
    font-weight: bold;
    box-sizing: border-box;
}
.info-area {
    padding: 50px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px gray;
}
.btn-enter {
    background-color: #1bbd43;
    padding: 10px 15px;
    border: 0px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
#transection-area {
    display: none;
}
#dash-counter {
    display: flex;flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}
.tab {
    width: 25%;
    color: #fff;
    border-radius: 15px;
    padding: 20px 12px;
}
.tab h2 span {
    font-size: 13px;
    background-color: #207d7d;
}
.tab h3 {
    font-size: 40px;
}
#tab-d1 {
    background-color: #6659f3;
}
#tab-d2 {
    background-color: #d14693;
}
#tab-d3 {
    background-color: #FFA45E;
}
#field-tab {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 15px;
}
#deposit {
    width: 45%;
    padding: 50px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px gray;
}
#withdraw {
    width: 45%;
    padding: 50px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px gray;
}
#withdraw input, #deposit input {
    width: 100%;
    margin: 15px 0;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    color: gray;
    font-size: 15px;
    font-weight: bold;
    box-sizing: border-box;
}